// Colour Scheme:
$white: #FFFFFF;

$light: #B8B6FF;

$midtone: #5452C1;
$midtone-05: rgba(84, 82, 193, 0.05);
$midtone-25: rgba(84, 82, 193, 0.25);
$midtone-50: rgba(84, 82, 193, 0.50);
$midtone-75: rgba(84, 82, 193, 0.75);

$dark: #191947;
$dark-50: rgba(25, 25, 71, 0.50);

// Transitions
$link: ease-in-out 0.3s;

@import 'core/reset';
@import 'core/typography';
@import 'core/base';