/* ==================== COLOUR SCHEME ==================== */
$white: #FFFFFF;

$light: #B8B6FF;
$light-50: rgba(184, 182, 255, 0.5);
$light-10: rgba(184, 182, 255, 1);

$midtone: #5452C1;
$midtone-00: rgba(84, 82, 193, 0.00);
$midtone-05: rgba(84, 82, 193, 0.05);
$midtone-25: rgba(84, 82, 193, 0.25);
$midtone-50: rgba(84, 82, 193, 0.50);
$midtone-75: rgba(84, 82, 193, 0.75);
$midtone-10: rgba(84, 82, 193, 1);

$dark: #191947;
$dark-25: rgba(25, 25, 71, 0.25);
$dark-50: rgba(25, 25, 71, 0.50);
$dark-75: rgba(25, 25, 71, 0.75);

/* ==================== TRANSITIONS ==================== */
$link: all ease-in-out 0.2s;
$project: all ease-in-out 0.4s;

/* ==================== BREAKPOINTS ==================== */
$extra-small: 320px;
// $small: 420px;
$small: 625px;
$medium: 781px;
$large: 940px;
$extra-large: 1200px;

/* ==================== IMPORTS ==================== */
@import 'core/reset';
@import 'core/typography';
@import 'core/base';
