/* ==================== COLOUR SCHEME ==================== */
/* ==================== TRANSITIONS ==================== */
/* ==================== BREAKPOINTS ==================== */
/* ==================== IMPORTS ==================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::-moz-selection {
  background: #5452C1;
  color: #FFFFFF; }

::selection {
  background: #5452C1;
  color: #FFFFFF; }

body {
  font-family: 'Karla', Karla, sans-serif;
  line-height: 1.4; }
  body a {
    text-decoration: none;
    color: inherit;
    cursor: pointer; }

h1 {
  color: #191947;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0; }

h2 {
  color: #5452C1;
  font-size: 22px;
  font-weight: 200; }

h3 {
  color: #191947;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

h4 {
  color: #191947;
  font-size: 22px;
  font-weight: 700;
  transition: ease-in-out 0.3s; }

h5 {
  color: rgba(25, 25, 71, 0.5);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: ease-in-out 0.3s; }

nav {
  color: #B8B6FF;
  cursor: default;
  font-size: 24px;
  font-weight: 700; }
  nav a {
    color: #191947;
    font-size: 22px;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
    position: relative;
    /* &:before{
    	background-color: $midtone;
    	bottom: -2px;
    	content: "";
    	height: 2px;
    	position: absolute;
    	transform: scaleX(0);
    	transition: $link;
    	width: 100%;
    	} */
    /* &:hover:before {
    	transform: scaleX(1);
    	visibility: visible;
    	} */ }
    nav a:hover {
      color: #5452C1; }
    nav a:active {
      color: #B8B6FF; }

p {
  color: #191947;
  font-size: 17px; }
  p a {
    border-bottom: solid 1px rgba(84, 82, 193, 0.25);
    font-weight: 700;
    padding-bottom: 2px;
    transition: ease-in-out 0.3s; }
    p a:hover {
      border-bottom: solid 1px rgba(84, 82, 193, 0.5);
      padding-bottom: 1px;
      color: #5452C1; }
    p a:active {
      border-bottom: solid 1px #B8B6FF;
      padding-bottom: 0;
      color: #B8B6FF; }

small {
  color: #191947;
  font-size: 16px;
  font-weight: 200; }

/* ==================== GENERAL ==================== */
body {
  background: #FFFFFF;
  max-width: 1440px;
  margin: 0 auto;
  /*
  	@media only screen and (min-width: $large){
  		background: red;
  	}
  
  	@media only screen and (max-width: $large){
  		background: orange;
  	}
  
  	@media only screen and (max-width: $medium){
  		background: yellow;
  	}
  
  	@media only screen and (max-width: $small){
  		background: green;
  	}
  
  	@media only screen and (max-width: $extra-small){
  		background: blue;
  	}
  	*/ }

/* ==================== HEADER ==================== */
header {
  display: block; }
  header .header {
    display: flex;
    margin-bottom: 25px; }
    header .header .header-brand {
      float: left;
      width: 50%; }
      header .header .header-brand .header-brand-logo {
        fill: #191947;
        float: left;
        height: 75px;
        -webkit-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s;
        width: 75px; }
        header .header .header-brand .header-brand-logo:hover {
          fill: #5452C1; }
        header .header .header-brand .header-brand-logo:active {
          fill: #B8B6FF; }
      header .header .header-brand .header-brand-name {
        float: left;
        margin: 0 0 0 10px; }
        header .header .header-brand .header-brand-name h1, header .header .header-brand .header-brand-name h2 {
          line-height: 1.2;
          margin: 0;
          padding: 0; }
    header .header .header-nav {
      float: left;
      width: 50%; }
      header .header .header-nav span {
        float: right;
        margin-left: 25px; }
  header .introduction {
    max-width: 575px;
    margin-bottom: 25px; }
  @media only screen and (min-width: 940px) {
    header {
      padding: 100px 100px 25px 100px; } }
  @media only screen and (max-width: 940px) {
    header {
      padding: 100px 50px 25px 50px; } }

.border {
  align-items: flex-start;
  background-color: #B8B6FF;
  content: "";
  display: block;
  height: 2px;
  margin-left: 100px;
  width: 50px; }
  @media only screen and (max-width: 940px) {
    .border {
      margin-left: 50px; } }

/* ==================== CONTENT ==================== */
.content {
  align-content: flex-start;
  background: rgba(84, 82, 193, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px; }

/* ==================== PROJECTS ==================== */
.project-link {
  height: auto;
  max-width: 378px; }
  .project-link .project-container {
    position: relative; }
    .project-link .project-container img {
      display: block;
      height: auto;
      width: 100%; }
    .project-link .project-container .project-overlay {
      opacity: 0;
      transition: ease-in-out 0.3s; }
      .project-link .project-container .project-overlay .project-overlay-summary {
        color: #FFFFFF;
        font-size: 20px;
        left: 15%;
        left: 15%;
        position: absolute;
        right: 15%;
        top: 15%;
        z-index: 1; }
      .project-link .project-container .project-overlay .project-overlay-colour {
        background: #5452C1;
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        transition: ease-in-out 0.3s;
        width: 100%; }
  .project-link:hover h4 {
    color: #5452C1; }
  .project-link:hover h5 {
    color: #B8B6FF; }
  .project-link:hover .project-overlay {
    opacity: 1; }
  .project-link:active h4 {
    color: #B8B6FF; }
  .project-link:active h5 {
    color: rgba(84, 82, 193, 0.25); }
  .project-link:active .project-overlay {
    opacity: 1; }
    .project-link:active .project-overlay .project-overlay-colour {
      background: #B8B6FF; }

/* ==================== FOOTER ==================== */
footer .footer {
  display: flex; }
footer .footer-social .footer-social-link .footer-logo {
  fill: #191947;
  height: 36px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  width: 36px; }
  footer .footer-social .footer-social-link .footer-logo:hover {
    fill: #5452C1; }
  footer .footer-social .footer-social-link .footer-logo:active {
    fill: #B8B6FF; }
@media only screen and (min-width: 940px) {
  footer {
    padding: 50px 100px; } }
@media only screen and (max-width: 940px) {
  footer {
    padding: 50px; } }
@media only screen and (min-width: 781px) {
  footer .footer-copyright {
    width: 50%; }
  footer .footer-social {
    width: 50%; }
    footer .footer-social .footer-social-link {
      float: right;
      margin-left: 20px; } }
@media only screen and (max-width: 781px) {
  footer .footer {
    display: inline-block; }
    footer .footer .footer-copyright {
      margin-bottom: 25px; }
    footer .footer .footer-social .footer-social-link {
      float: left;
      margin-right: 20px; } }
@media only screen and (max-width: 420px) {
  footer .footer-social {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
