/* ==================== GENERAL ==================== */

body{
	background: $white;
	margin: 0 auto;
	//max-width: 1440px;

	/*
	@media only screen and (min-width: $large){
		background: red;
	}

	@media only screen and (max-width: $large){
		background: orange;
	}
	
	@media only screen and (max-width: $medium){
		background: white;
	}

	@media only screen and (max-width: $small){
		background: green;
	}
	
	@media only screen and (max-width: $extra-small){
		background: blue;
	}
	*/
}

/* ==================== HEADER ==================== */

header{
	display: block;

	.header{
		display: flex;
		justify-content: space-between;

		.header-brand{
			float: left;
			width: 50%;

			.header-brand-logo-container{
				display: inline-block;
				float: left;
				height: 75px; // <--- This is what you modify for the size of SVG
				width: 75px; // <--- This is what you modify for the size of SVG
				-webkit-transition: $link;
				transition: $link;

				.header-brand-logo{
					fill: $dark;
					-webkit-transition: $link;
					transition: $link;

					&:hover{
						fill: $midtone;
					}

					&:active{
						fill: $light;
					}
				}
			}

			.header-brand-name{
				float: left;
				margin-left: 10px;

				h1, h2{
					line-height: 1.2;
					margin: 0;
					padding: 0;
				}
			}
		}

		.header-nav{
			float: left;
			width: 50%;

			span{
				float: right;
				margin-left: 25px;
			}
		}
	}

	.introduction{
		margin: 40px 0 0 0;
		max-width: 575px;
		-webkit-transition: $link;
		transition: $link;
	}

	@media only screen and (min-width: $large){
		padding: 100px 100px 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 100px 50px 50px 50px;
	}

	@media only screen and (max-width: $medium){
		padding: 50px 50px 40px 50px;

		.header{
			display: inline-block;
			margin-bottom: 0;

			.header-brand{
				margin-bottom: 25px;
				min-width: 252px;
				width: 100%;

				.header-brand-logo-container{
					height: 60px;
					width: 60px; // <--- This is what you modify for the size of SVG
				}

				.header-brand-name{
					h1{
						font-size: 28px;
					}

					h2{
						font-size: 18px;
					}
				}
			}

			.header-nav{
				font-size: 18px;
				width: 100%;

				span{
					float: left;
					margin-left: 0;
					margin-right: 25px;
				}

				a{
					font-size: 18px;
				}
			}
		}

		.introduction{
			display: inline-block;
			margin: 15px 0 0 0;
		}
	}

	@media only screen and (max-width: $small){
		padding: 50px 25px 25px 25px;

		.introduction{
			display: inline-block;
			margin: 15px 0;
		}
	}

}

.border{
	align-items: flex-start;
	background-color: $light;
	content: "";
	display: block;
	height: 2px;
	width: 50px;

	@media only screen and (min-width: $large){
		margin-left: 100px;
	}

	@media only screen and (max-width: $large){
		margin-left: 50px;
	}

	@media only screen and (max-width: $small){
		margin-left: 25px;
	}
}

/* ==================== CONTENT ==================== */

.content{
	background: $midtone-05;
	overflow: auto;

	@media only screen and (min-width: $large){
		padding: 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 50px;
	}

	@media only screen and (max-width: $small){
		padding: 25px;
	}
}


/* ==================== PROJECTS ==================== */

.grid{
	overflow: auto;

	.project-link{
		float: left;
		height: auto;
		// max-width: 378px;
		//width: 33.3%;

		.project-container{
			position: relative;

			img{
				display: block;
				height: auto;
				width: 100%;
				-webkit-transition: $link;
				transition: $link;
			}

			.project-overlay {
				h3, p{ color: $white; margin-bottom: 20px; }
				h4{ color: $white; opacity: 0.7 }
				opacity: 0;
				-webkit-transition: $link;
				transition: $link;

				.project-overlay-details {
					left: 25px;
					position: absolute;
					right: 25px;
					top: 30px;
					-webkit-transition: $link;
					transition: $link;
					z-index: 1;
				}

				.project-overlay-colour{
					background: $midtone;
					background: linear-gradient($midtone-50, $midtone-10);
					bottom: 0;
					height: 100%;
					left: 0;
					opacity: 0.8;
					position: absolute;
					right: 0;
					top: 0;
					-webkit-transition: $project;
					transition: $project;
					width: 100%;
				}

				.view-project::after{
					content: "";
					background-image: url("../images/arrow-right-white.svg");
					background-repeat: no-repeat;
					position: absolute;
					width: 35px;
					height: 20px;
					left: 100px;
					padding-top: 5px;
					-webkit-transition: $project;
					transition: $project;
				}
			}
		}

		&:hover{
			h3{ color: $midtone; }
			h4{	color: $light; }
		}

		&:active{
			h3{ color: $light; }
			h4{	color: $midtone-25; }
		}

		.project-details{
			display: none;
		}
	}

	@media only screen and (min-width: $extra-large){
		.project-link{
			width: 32%;
			margin-bottom: 2%;
		}

		.project-gutter{ width: 2%}
	}

	@media only screen and (max-width: $extra-large){
		.project-link{
			width: 48.5%;
			margin-bottom: 3%;
		}

		.project-gutter{ width: 3%}
	}

	@media only screen and (max-width: $medium){
		.project-link{
			.project-details{
				display: inline;

				h3{ margin-top: 5px;}
			}
		}
	}

	@media only screen and (min-width: $medium){
		.project-link{
			&:hover{
				.project-overlay{
					opacity: 1;

					.project-overlay-details {
						top: 28px;
					}

					.view-project::after{
						left: 105px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: $small){
		.project-link{
			margin-bottom: 25px;
			width: 100%;
		}
	}
}

/* ==================== ABOUT ==================== */

.about-container{
	display: block;

	.about{
		@media only screen and (min-width: $large){
			float: left;
			width: 47%;
			margin-right: 3%;

			h2{
				margin-top: 25px;
			}

			p{
				margin-top: 25px;
			}
		}

		@media only screen and (max-width: $large){
			width: 100%;
			margin-bottom: 25px;

			h2{
				margin-top: 15px;
			}

			p{
				margin-top: 15px;
			}
		}

		@media only screen and (max-width: $small){
			.heading-small{
				display:none;
			}
		}
	}
}

.portrait-container{
	display: block;

	.portrait{
		@media only screen and (min-width: $large){
			float: right;
			width: 47%;
			margin-left: 3%;
			max-width: 495px;

			img{
				width: 100%;
			}
		}

		@media only screen and (max-width: $large){
			text-align: center;

			img{
				width: 100%;
			}
		}

		@media only screen and (max-width: $large){
			text-align: center;

			img{
				max-width: 495px;
			}
		}

		@media only screen and (max-width: $medium){
			text-align: center;
			
			img{
				max-width: 450px;
			}
		}
	}
}

/* ==================== CASE STUDY ==================== */

.case-study-container{
	.heading-small{
		border-bottom: solid 1px;
		border-color: $light;
		display: block;
		margin-bottom: 5px;
		padding-bottom: 2px;

		@media only screen and (min-width: $large){
			margin-bottom: 10px;
		}
	}
}

.case-study-intro{
	h1 {
		margin-bottom: 10px;
	}

	h2{
		margin-bottom: 20px;
	}
}

.case-study-text-wrap{
	display: flex;

	p{
		margin-bottom: 20px;
	}

	@media only screen and (min-width: $large){
		.case-study-brief{
			padding-right: 25px;
			width: 50%;
		}

		.case-study-details{
			padding-left: 25px;
			width: 50%;

			div{
				width: 31%;
				float: left;
			}

			.case-study-role{
				padding-right: 3%;
			}

			.case-study-client{
				padding-right: 3%;
			}
		}

		.column-1{
			padding-right: 25px;
			width: 50%;
		}

		.column-2{
			padding-left: 25px;
			width: 50%;
		}
	}

	@media only screen and (max-width: $large){
		display: block;

		.case-study-details{
			div{
				float: left;
				width: 31%;
			}

			.case-study-role{
				padding-right: 3%;
			}

			.case-study-client{
				padding-right: 3%;
			}
		}
	}

	@media only screen and (max-width: $small){
		.case-study-details{
			div{
				width: 100%;
			}
		}
	}
}

.case-study-arrow-1, .case-study-arrow-2, .case-study-arrow-top{
	img{
		width: 50px;
	}

	&:hover{
		h3{ color: $midtone; }
		h4{	color: $light; }
		.arrow-left-container{
			.arrow-left{
				fill: $midtone;
			}
		}
		.arrow-right-container{
			.arrow-right{
				fill: $midtone;
			}
		}
	}

	&:active{
		h3{ color: $light; }
		h4{	color: $midtone-25; }
		.arrow-left-container{
			.arrow-left{
				fill: $light;
			}
		}
		.arrow-right-container{
			.arrow-right{
				fill: $light;
			}
		}
	}
}

@media only screen and (min-width: $large){
	.case-study-arrows-container{
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		height: 52px;
	}

	.case-study-arrow-1{
		min-width: 250px;
		text-align: left;

		.arrow-left-container{
			display: inline-block;
			float: left;
			height: 50px;
			width: 50px;

			.arrow-left{
				fill: $dark;
				-webkit-transition: $link;
				transition: $link;
			}
		}

		.arrow-left-text{
			display: inline-block;
			margin-left: 10px;
		}
	}

	.case-study-arrow-top{
		text-align: center;
	}

	.case-study-arrow-2{
		min-width: 250px;
		text-align: right;

		.arrow-right-container{
			display: inline-block;
			float: right;
			height: 50px;
			width: 50px;

			.arrow-right{
				-webkit-transition: $link;
				fill: $dark;
				transition: $link;
			}
		}

		.arrow-right-text{
			display: inline-block;
			margin-right: 10px;
		}
	}
}

/* ==================== FOOTER ==================== */

footer{
	.footer-content{
		align-items: center;
		display: flex;

		.footer-copyright{
			cursor: default;
		}

		.footer-social{
			-webkit-transition: $link;
			transition: $link;

			.footer-social-link{
				display: inline-block;
				height: 38px;
				-webkit-transition: $link;
				transition: $link;
				width: 38px;
				position: relative;
				top: 0;

				&:hover{
					top: -4px;
				}
				
				.footer-logo{
					fill: $dark;
					-webkit-transition: $link;
					transition: $link;

					&:hover{
						fill: $midtone;
					}

					&:active{
						fill: $light;
					}
				}
			}
		}
	}

	@media only screen and (min-width: $large){
		padding: 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 25px 50px;
	}

	@media only screen and (min-width: $medium){
		.footer-copyright{
			width: 50%;
		}

		.footer-social{
			width: 50%;

			.footer-social-link{
				float: right;
				margin-left: 20px;
			}
		}
	}

	@media only screen and (max-width: $medium){
		.footer-content{
			display: inline-block;

			.footer-copyright{
				margin-bottom: 15px;
			}

			.footer-social{
				.footer-social-link{
					float: left;
					margin-right: 20px;
				}
			}
		}
	}

	@media only screen and (max-width: $small){
		padding: 25px;

		.footer-content{
			.footer-copyright{
				margin-bottom: 20;
			}

			.footer-social{
				.footer-social-link{
					height: 30px;
					width: 30px;
				}
			}
		}
	}
}