/* ==================== GENERAL ==================== */

body{
	background: $white;
	max-width: 1440px;
	margin: 0 auto;

/* 
	@media only screen and (min-width: $large){
		background: red;
	}

	@media only screen and (max-width: $large){
		background: orange;
	}
	
	@media only screen and (max-width: $medium){
		background: white;
	}

	@media only screen and (max-width: $small){
		background: green;
	}
	*/
	@media only screen and (max-width: $extra-small){
		background: blue;
	}

}

/* ==================== HEADER ==================== */

header{
	display: block;

	.header{
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;

		.header-brand{
			float: left;
			width: 50%;

			.header-brand-logo-container{
				-webkit-transition: $link;
				transition: $link;
				display: inline-block;
				float: left;
				height: 75px; // <--- This is what you modify for the size of SVG
				width: 75px; // <--- This is what you modify for the size of SVG

				.header-brand-logo{
					fill: $dark;
					-webkit-transition: $link;
					transition: $link;

					&:hover{
						fill: $midtone;
					}

					&:active{
						fill: $light;
					}
				}
			}

			.header-brand-name{
				float: left;
				margin: 0 0 0 10px;

				h1, h2{
					line-height: 1.2;
					margin: 0;
					padding: 0;
				}
			}
		}

		.header-nav{
			float: left;
			width: 50%;

			span{
				float: right;
				margin-left: 25px;
			}
		}
	}

	.introduction{
		max-width: 575px;
		margin-bottom: 25px;
	}

	@media only screen and (min-width: $large){
		padding: 100px 100px 25px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 100px 50px 25px 50px;
	}

	@media only screen and (max-width: $medium){
		padding: 50px 50px 25px 50px;

		.header{
			margin-bottom: 0;
			display: inline-block;

			.header-brand{
				min-width: 252px;
				width: 100%;
				margin-bottom: 25px;

				.header-brand-logo-container{
					height: 60px;
					width: 60px; // <--- This is what you modify for the size of SVG
				}

				.header-brand-name{
					margin: 0 0 0 10px;

					h1{
						font-size: 28px;
					}

					h2{
						font-size: 18px;
					}
				}
			}

			.header-nav{
				width: 100%;
				font-size: 18px;
				margin-bottom: 15px;

				span{
					float: left;
					margin-right: 25px;
					margin-left: 0;
				}

				a{
					font-size: 18px;
				}
			}
		}

		.introduction{
			display: inline-block;
			margin-bottom: 10px;
		}
	}

	@media only screen and (max-width: $small){
		padding: 50px 25px 25px 25px;
	}

}

.border{
	align-items: flex-start;
	background-color: $light;
	content: "";
	display: block;
	height: 2px;
	width: 50px;

	@media only screen and (min-width: $large){
		margin-left: 100px;
	}

	@media only screen and (max-width: $large){
		margin-left: 50px;
	}

	@media only screen and (max-width: $small){
		margin-left: 25px;
	}
}

/* ==================== CONTENT ==================== */

.content{
	align-content: flex-start;
	background: $midtone-05;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media only screen and (min-width: $large){
		padding: 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 50px;
	}

	@media only screen and (max-width: $small){
		padding: 25px;
	}
}


/* ==================== PROJECTS ==================== */

.project-link{
	height: auto;
	max-width: 378px;

	.project-container{
		position: relative;


		img{
			display: block;
			height: auto;
			width: 100%;
		}

		.project-overlay {
			opacity: 0;
			transition: $project;
			h4, p{ color: $white; margin-bottom: 20px; }
			h5{ color: $white; opacity: 0.7 }

			.project-overlay-summary {
				left: 25px;
				position: absolute;
				right: 25px;
				top: 25px;
				z-index: 1;
				-webkit-transition: $link;
				transition: $link;
			}

			.project-overlay-colour{
				background: $midtone;
				bottom: 0;
				height: 100%;
				left: 0;
				opacity: 0.8;
				position: absolute;
				right: 0;
				top: 0;
				-webkit-transition: $link;
				transition: $link;
				width: 100%;
			}
		}
	}

	.project-details{
		display: none;
	}

	&:hover{
		h4{ color: $midtone; }
		h5{	color: $light; }

		.project-overlay{
			opacity: 1;
		}
	}

	&:active{
		h4{ color: $light; }
		h5{	color: $midtone-25; }

		.project-overlay{
			opacity: 1;

			.project-overlay-colour{
				background: $light;
			}
		}
	}
}

/* ==================== FOOTER ==================== */

footer{
	.footer{
		display: flex;
		align-items: center;

		.footer-copyright{
			cursor: default;
		}

		.footer-social{
			-webkit-transition: $link;
			transition: $link;
			.footer-social-link{
				.footer-logo{
					fill: $dark;
					height: 36px;
					-webkit-transition: $link;
					transition: $link;
					width: 36px;

					&:hover{
						fill: $midtone;
					}

					&:active{
						fill: $light;
					}
				}
			}
		}
	}

	@media only screen and (min-width: $large){
		padding: 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 25px 50px;
	}

	@media only screen and (min-width: $medium){
		.footer-copyright{
			width: 50%;
		}

		.footer-social{
			width: 50%;

			.footer-social-link{
				float: right;
				margin-left: 20px;

			}
		}
	}

	@media only screen and (max-width: $medium){
		.footer{
			display: inline-block;

			.footer-copyright{
				margin-bottom: 25px;
			}

			.footer-social{
				.footer-social-link{
					float: left;
					margin-right: 20px;
				}
			}
		}
	}

	@media only screen and (max-width: $small){
		padding: 25px;

		.footer{
			.footer-copyright{
				margin-bottom: 0;
			}
			
			.footer-social{
				display: none;
			}
		}
	}
}