::-moz-selection {
	background: $midtone;
	color: $white;
}

::selection {
	background: $midtone;
	color: $white;
} 

body{
	font-family: 'Karla', Karla, sans-serif;
	line-height: 1.4;

	a{
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
}

h1{
	color: $dark;
	font-size: 36px; // 2.26rem
	font-weight: 700;
	letter-spacing: 0;
	-webkit-transition: $link;
	transition: $link;
}

h2{
	color: $midtone;
	font-size: 22px;
	font-weight: 200;
	-webkit-transition: $link;
	transition: $link;
}

h3{
	color: $dark;
	font-size: 22px;
	font-weight: 700;
	-webkit-transition: $link;
	transition: $link;
}

h4{
	color: $dark-50;
	font-size: 14px;
	font-weight: 700;
	// letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: $link;
	transition: $link;
}

.heading-small{
	color: $dark;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

nav{
	color: $light;
	cursor: default;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;

	a{
		color: $dark;
		font-size: 22px;
		text-transform: uppercase;
		-webkit-transition: $link;
		transition: $link;
		position: relative;
		
		&:hover{
			color: $midtone;
		}

		&:active{
			color: $light;
		}

		/* &:before{
			background-color: $midtone;
			bottom: -2px;
			content: "";
			height: 2px;
			position: absolute;
			transform: scaleX(0);
			-webkit-transition: $link;
			transition: $link;
			width: 100%;
			} */

		/* &:hover:before {
			transform: scaleX(1);
			visibility: visible;
			} */
		}
	}

	p{
		color: $dark;
		font-size: 17px;
		-webkit-transition: $link;
		transition: $link;

		a{
			border-bottom: solid 1px $midtone-25;
			font-weight: 700;
			padding-bottom: 1px;
			-webkit-transition: $link;
			transition: $link;

			&:hover{
				border-bottom: solid 1px $midtone-50;
				padding-bottom: 0;
				color: $midtone;
			}

			&:active{
				border-bottom: solid 1px $light;
				padding-bottom: 0;
				color: $light;
			}
		}

		@media only screen and (max-width: $medium){
			font-size: 16px;
		}
	}

	small{
		color: $dark;
		font-size: 16px;
		font-weight: 200;
	}
