/* ==================== GENERAL ==================== */

body{
	background: $white;
	margin: 0 auto;
	max-width: 2048px;

	/*
	@media only screen and (min-width: $large){
		background: red;
	}

	@media only screen and (max-width: $large){
		background: orange;
	}
	
	@media only screen and (max-width: $medium){
		background: white;
	}

	@media only screen and (max-width: $small){
		background: green;
	}
	
	@media only screen and (max-width: $extra-small){
		background: blue;
	}
	*/
}

/* ==================== HEADER ==================== */

header{
	display: block;

	.header-container{
		display: flex;
		justify-content: space-between;

		.header-brand{
			float: left;
			width: 50%;

			.header-brand-logo-container{
				display: inline-block;
				float: left;
				height: 75px;
				width: 75px;
				-webkit-transition: $link;
				transition: $link;

				.header-brand-logo{
					fill: $dark;
					-webkit-transition: $link;
					transition: $link;
				}

				&:hover{
					.header-brand-logo{
						fill: $midtone;

						#eyelid-1, #eyelid-2{
							fill: $midtone;
						}
					}
				}

				&:active{
					.header-brand-logo{
						fill: $light;
					}

					#eyelid-1, #eyelid-2{
						fill: $light;
					}
				}
			}

			.header-brand-name{
				float: left;
				margin-left: 10px;

				h1, h2{
					line-height: 1.2;
					margin: 0;
					padding: 0;
				}
			}
		}

		.header-nav{
			float: left;
			width: 50%;

			span{
				float: right;
				margin-left: 25px;
			}
		}
	}

	.introduction{
		margin: 40px 0 0 0;
		max-width: 575px;
		-webkit-transition: $link;
		transition: $link;
	}

	@media only screen and (min-width: $large){
		padding: 100px 100px 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 100px 50px 50px 50px;
	}

	@media only screen and (max-width: $medium){
		padding: 50px 50px 40px 50px;

		.header-container{
			display: inline-block;
			margin-bottom: 0;

			.header-brand{
				margin-bottom: 25px;
				min-width: 252px;
				width: 100%;

				.header-brand-logo-container{
					height: 60px;
					width: 60px;
				}

				.header-brand-name{
					h1{
						font-size: 28px;
					}

					h2{
						font-size: 18px;
					}
				}
			}

			.header-nav{
				font-size: 18px;
				width: 100%;

				span{
					float: left;
					margin-left: 0;
					margin-right: 25px;
				}

				a{
					font-size: 18px;
				}
			}
		}

		.introduction{
			display: inline-block;
			margin: 15px 0 0 0;
		}
	}

	@media only screen and (max-width: $small){
		padding: 50px 25px 25px 25px;

		.introduction{
			display: inline-block;
			margin: 15px 0;
		}
	}

}

.border{
	align-items: flex-start;
	background-color: $light;
	content: "";
	display: block;
	height: 2px;
	width: 50px;

	@media only screen and (min-width: $large){
		margin-left: 100px;
	}

	@media only screen and (max-width: $large){
		margin-left: 50px;
	}

	@media only screen and (max-width: $small){
		margin-left: 25px;
	}
}

/* ==================== CONTENT ==================== */

.content{
	background: $midtone-05;
	overflow: auto;

	@media only screen and (min-width: $large){
		padding: 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 50px;
	}

	@media only screen and (max-width: $small){
		padding: 25px;
	}
}


/* ==================== PROJECTS ==================== */

.grid{
	overflow: auto;

	.project-link{
		float: left;
		height: auto;

		.project-container{
			position: relative;

			img{
				display: block;
				height: auto;
				width: 100%;
				-webkit-transition: $link;
				transition: $link;
			}

			.project-overlay {
				opacity: 0;
				-webkit-transition: $link;
				transition: $link;

				h3, p{
					color: $white; margin-bottom: 20px;
				}
				
				h4{
					color: $white; opacity: 0.7
				}

				.project-overlay-details {
					left: 25px;
					position: absolute;
					right: 25px;
					top: 30px;
					-webkit-transition: $link;
					transition: $link;
					z-index: 1;
				}

				.project-overlay-colour{
					background: $midtone;
					background: linear-gradient($midtone-50, $midtone-10);
					bottom: 0;
					height: 100%;
					left: 0;
					opacity: 0.8;
					position: absolute;
					right: 0;
					top: 0;
					-webkit-transition: $project;
					transition: $project;
					width: 100%;
				}

				.view-project::after{
					background-image: url("../images/arrow-right-white.svg");
					background-repeat: no-repeat;
					content: "";
					height: 20px;
					left: 100px;
					padding-top: 5px;
					position: absolute;
					width: 35px;
					-webkit-transition: $project;
					transition: $project;
				}
			}
		}

		&:hover{
			h3{
				color: $midtone;
			}
			
			h4{
				color: $light;
			}
		}

		&:active{
			h3{
				color: $light;
			}
			
			h4{
				color: $midtone-25;
			}
		}

		.project-details{
			display: none;
		}
	}

	@media only screen and (min-width: $extra-large){
		.project-link{
			margin-bottom: 2%;
			width: 32%;
		}

		.project-gutter{
			width: 2%
		}
	}

	@media only screen and (max-width: $extra-large){
		.project-link{
			margin-bottom: 3%;
			width: 48.5%;
		}

		.project-gutter{
			width: 3%
		}
	}

	@media only screen and (max-width: $medium){
		.project-link{
			.project-details{
				display: inline;

				h3{
					margin-top: 5px;
				}
			}
		}
	}

	@media only screen and (min-width: $medium){
		.project-link{
			&:hover{
				.project-overlay{
					opacity: 1;

					.project-overlay-details {
						top: 28px;
					}

					.view-project::after{
						left: 105px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: $small){
		.project-link{
			margin-bottom: 25px;
			width: 100%;
		}
	}
}

/* ==================== ABOUT ==================== */

.about-container{
	display: block;

	.about{
		@media only screen and (min-width: $large){
			float: left;
			margin-right: 3%;
			width: 47%;

			h2{
				margin-top: 25px;
			}

			p{
				margin-top: 25px;
			}
		}

		@media only screen and (max-width: $large){
			margin-bottom: 25px;
			width: 100%;

			h2{
				margin-top: 15px;
			}

			p{
				margin-top: 15px;
			}
		}

		@media only screen and (max-width: $small){
			.heading-small{
				display: none;
			}
		}
	}
}

.portrait-container{
	display: block;

	.portrait{
		text-align: center;

		img{
			width: 100%;
		}

		@media only screen and (min-width: $large){
			float: right;
			margin-left: 3%;
			max-width: 495px;
			width: 47%;
		}

		@media only screen and (max-width: $large){
			img{
				max-width: 495px;
			}
		}

		@media only screen and (max-width: $medium){			
			img{
				max-width: 450px;
			}
		}
	}
}

/* ==================== CASE STUDY ==================== */

.case-study-intro{
	background: $midtone-05;
	display: block;
	position: relative;

	.case-study-exit{
		position: absolute;
		top: 25px;
		transition: $project;
		-webkit-transition: $project;
		width: 50px;

		span{
			background-image: url("../images/arrow-left-white.svg");
			background-repeat: no-repeat;
			content: "";
			position: absolute;
			transition: $project;
			-webkit-transition: $project;
		}
	}

	.case-study-nav{
		position: absolute;
		top: 25px;
		transition: $project;
		-webkit-transition: $project;
		width: 50%;

		span{
			float: right;
		}
	}

	.case-study-intro-text{
		bottom: 25px;
		position: absolute;
		transition: $project;
		-webkit-transition: $project;

		h1, h2 {
			color: $white;
		}

		.divider{
			background-color: $white;
			content: "";
			display: block;
			height: 2px;
			width: 15px;
			margin: 10px 0;
		}
	}

	.case-study-hero{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: -99;
		display: inline-block;
	}

	.case-study-intro-overlay{
		background: linear-gradient(20deg, $midtone-75, $midtone-00);
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

	.case-study-intro-image{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		transition: $project;
		-webkit-transition: $project;
		width: 100%;
	}

	.hlp{ background-image: url("../images/hlp_1.jpg"); }
	.espia{ background-image: url("../images/espia_1.jpg"); }
	.somnus{ background-image: url("../images/somnus_1.jpg"); }
	.apto{ background-image: url("../images/apto_1.jpg"); }
	.shuttle{ background-image: url("../images/shuttle_1.jpg"); }
	.sketchbook{ background-image: url("../images/sketchbook_1.jpg"); }
	.wamhp{ background-image: url("../images/wamhp_1.jpg"); }
	.misc{ background-image: url("../images/misc_1.jpg"); }

	.test{ background-image: url("../images/somnus-tile.png"); }

	@media only screen and (min-width: $large){
		height: 500px;

		.case-study-exit{
			top: 50px;
			left: 100px;

			a:hover{
				span{
					background-size: 25px 25px;
				}
			}

			span{
				background-size: 40px 25px;
				padding-left: 40px;
			}
		}

		.case-study-nav{
			top: 50px;
			right: 100px;

			span{
				margin-left: 25px;
			}
		}

		.case-study-intro-image{
			height: 500px;
		}

		.case-study-intro-text{
			bottom: 50px;
			left: 100px;
			max-width: 50%;
		}
	}

	@media only screen and (max-width: $large){
		height: 400px;

		.case-study-exit{
			left: 50px;

			span{
				padding-left: 35px;
			}
		}

		.case-study-nav{
			right: 50px;

			span{
				margin-left: 15px;
			}
		}

		.case-study-intro-image{
			height: 400px;
		}

		.case-study-intro-text{
			left: 50px;
			max-width: 50%;
		}
	}

	@media only screen and (max-width: $small){
		height: 300px;

		.case-study-exit{
			left: 25px;
		}

		.case-study-nav{
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			display: block;
			right: -45px;
			top: 90px;
			width: auto;
			z-index: 10;

			span{
				margin-left: 10px;
			}
		}

		.case-study-intro-image{
			height: 300px;
		}

		.case-study-intro-text{
			left: 25px;
			max-width: 100%;
		}
	}

}

.case-study-shade{
	background: $white;

	.case-study-container{
		overflow: hidden;
		background: $midtone-05;
		box-shadow: 0 -5px 25px rgba(255, 255, 255, 0.15);

		@media only screen and (min-width: $large){
			padding: 50px 100px;
		}

		@media only screen and (max-width: $large){
			padding: 25px 50px 50px;
		}

		@media only screen and (max-width: $small){
			padding: 25px;
		}

		.heading-small{
			border-bottom: solid 1px;
			border-color: $light;
			display: block;
			margin-bottom: 5px;
			padding-bottom: 2px;

			@media only screen and (min-width: $large){
				margin-bottom: 10px;
			}
		}
	}
}

.case-study-text-wrap{
	display: flex;

	p{
		margin-bottom: 20px;
	}

	@media only screen and (min-width: $large){
		.case-study-brief{
			padding-right: 25px;
			width: 50%;
		}

		.case-study-details{
			padding-left: 25px;
			width: 50%;

			div{
				width: 31%;
				float: left;
			}

			.case-study-role{
				padding-right: 3%;
			}

			.case-study-client{
				padding-right: 3%;
			}
		}

		.column-1{
			padding-right: 25px;
			width: 50%;
		}

		.column-2{
			padding-left: 25px;
			width: 50%;
		}
	}

	@media only screen and (max-width: $large){
		display: block;

		.case-study-details{
			div{
				float: left;
				width: 31%;
			}

			.case-study-role{
				padding-right: 3%;
			}

			.case-study-client{
				padding-right: 3%;
			}
		}
	}

	@media only screen and (max-width: $small){
		.case-study-details{
			div{
				width: 100%;
			}
		}
	}
}

.case-study-image-wrap{
	display: block;
	margin-top: 20px;

	.image-container{
		img{
			max-width: 100%;
		}

		margin-bottom: 20px;

		@media only screen and (min-width: $large){
			.image-1{
				float: left;
				max-width: 49%;
				padding-right: 1%;
			}

			.image-2{
				float: left;
				max-width: 49%;
				padding-left: 1%;
			}
		}

		@media only screen and (max-width: $large){
			.image-1{
				float: left;
				max-width: 48%;
				padding-right: 2%;
			}

			.image-2{
				float: left;
				max-width: 48%;
				padding-left: 2%;
			}
		}

		@media only screen and (max-width: $medium){
			.image-1{
				margin-bottom: 20px;
				max-width: 100%;
				padding: 0;
			}

			.image-2{
				margin-bottom: 20px;
				max-width: 100%;
				padding: 0;
			}
		}
	}
}

.case-study-arrow-1, .case-study-arrow-2, .case-study-arrow-top{
	img{
		width: 50px;
	}

	&:hover{
		h3{
			color: $midtone;
		}
		
		h4{
			color: $light;
		}
		
		.arrow-left-container .arrow-left, .arrow-top-container .arrow-top, .arrow-right-container .arrow-right{
			fill: $midtone;
		}
	}

	&:active{
		h3{
			color: $light;
		}
		
		h4{
			color: $midtone-25;
		}
		
		.arrow-left-container .arrow-left, .arrow-top-container .arrow-top,.arrow-right-container .arrow-right{
			fill: $light;
		}
	}
}

@media only screen and (min-width: $medium){
	.case-study-arrows-container{
		display: flex;
		height: 52px;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	.case-study-arrow-1{
		min-width: 250px;
		text-align: left;
		-webkit-transition: $link;
		transition: $link;

		.arrow-left-container{
			display: inline-block;
			float: left;
			height: 50px;
			width: 50px;

			.arrow-left{
				fill: $dark;
				-webkit-transition: $link;
				transition: $link;
			}
		}

		.arrow-left-text{
			display: inline-block;
			margin-left: 10px;
		}
	}

	.case-study-arrow-top{
		display: none;
	}

	.case-study-arrow-2{
		min-width: 250px;
		text-align: right;
		-webkit-transition: $link;
		transition: $link;

		.arrow-right-container{
			display: inline-block;
			float: right;
			height: 50px;
			width: 50px;

			.arrow-right{
				fill: $dark;
				transition: $link;
				-webkit-transition: $link;
			}
		}

		.arrow-right-text{
			display: inline-block;
			margin-right: 10px;
		}
	}
}

@media only screen and (max-width: $medium){

	.case-study-arrows-container{
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	.case-study-arrow-1, .case-study-arrow-2{
		display: none;
	}

	.case-study-arrow-top{
		text-align: center;

		.arrow-top-container{
			display: inline-block;
			height: 50px;
			width: 50px;

			.arrow-top{
				fill: $dark;
				transition: $link;
				-webkit-transition: $link;
			}

		}
	}

}

/* ==================== FOOTER ==================== */

footer{
	.footer-content{
		align-items: center;
		display: flex;

		.footer-copyright{
			cursor: default;
		}

		.footer-social{
			transition: $link;
			-webkit-transition: $link;

			.footer-social-link{
				display: inline-block;
				height: 38px;
				width: 38px;
				position: relative;
				top: 0;
				transition: $link;
				-webkit-transition: $link;

				&:hover{
					top: -4px;
				}

				.footer-logo{
					fill: $dark;
					transition: $link;
					-webkit-transition: $link;

					&:hover{
						fill: $midtone;
					}

					&:active{
						fill: $light;
					}
				}
			}
		}
	}

	@media only screen and (min-width: $large){
		padding: 50px 100px;
	}

	@media only screen and (max-width: $large){
		padding: 25px 50px;
	}

	@media only screen and (min-width: $medium){
		.footer-social, .footer-copyright{
			width: 50%;

			.footer-social-link{
				float: right;
				margin-left: 20px;
			}
		}
	}

	@media only screen and (max-width: $medium){
		.footer-content{
			display: inline-block;

			.footer-copyright{
				margin-bottom: 15px;
			}

			.footer-social{
				.footer-social-link{
					float: left;
					margin-right: 20px;
				}
			}
		}
	}

	@media only screen and (max-width: $small){
		padding: 25px;

		.footer-content{
			.footer-copyright{
				margin-bottom: 20;
			}

			.footer-social{
				.footer-social-link{
					height: 30px;
					width: 30px;
				}
			}
		}
	}
}