::-moz-selection {
	background: $midtone;
	color: $white;
}

::selection {
	background: $midtone;
	color: $white;
}

body{
	font-family: 'Karla', Karla, sans-serif;
	line-height: 1.4;

	a{
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
}

h1{
	color: $dark;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0;
	-webkit-transition: $link;
	transition: $link;
}

h2{
	color: $midtone;
	font-size: 22px;
	font-weight: 200;
	-webkit-transition: $link;
	transition: $link;
}

.about h2{
	font-size: 27px;
}

h3{
	color: $dark;
	font-size: 22px;
	font-weight: 700;
	-webkit-transition: $link;
	transition: $link;
}

h4{
	color: $dark-50;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: $link;
	transition: $link;
}

.heading-small{
	color: $dark;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.header-nav{
	color: $light;
	cursor: default;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;

	a{
		color: $dark;
		font-size: 22px;
		position: relative;
		text-transform: uppercase;
		transition: $link;
		-webkit-transition: $link;

		&:hover{
			color: $midtone;
		}

		&:active{
			color: $light;
		}


		&:before{
			content: "";
			width: 0;
			height: 6px;
			position: absolute;
			bottom: 3px;
			right: 0;
			background: $light-50;
			transition: 0.3s;
			z-index: -1;
		}

		&:hover:before {
			width: 100%;
			left: 0;
			background: $light-50;
		}

	}
}

.case-study-nav{
	color: $white;
	cursor: default;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	transition: $link;
	-webkit-transition: $link;

	span a{
		position: relative;
		text-transform: uppercase;

		&:before{
			content: "";
			width: 0;
			height: 6px;
			position: absolute;
			bottom: 3px;
			right: 0;
			background: $white-25;
			transition: 0.3s;
			z-index: -1;
		}

		&:hover:before {
			width: 100%;
			left: 0;
			background: $white-25;
		}
	}
}

.case-study-exit{
	color: $white;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: $link;
	-webkit-transition: $link;
}

p{
	color: $dark;
	font-size: 17px;
	line-height: 1.5;
	transition: $link;
	-webkit-transition: $link;

	a{
		border-bottom: solid 1px $midtone-25;
		font-weight: 700;
		-webkit-transition: $link;
		transition: $link;

		&:hover{
			border-bottom: solid 1px $midtone-25;
			color: $midtone;
		}

		&:active{
			border-bottom: solid 1px $light;
			color: $light;
		}
	}

	@media only screen and (max-width: $medium){
		font-size: 16px;
	}
}

small{
	color: $dark;
	font-size: 16px;
	font-weight: 200;
}

.italic{
	font-style: oblique;
}
